@font-face {
    font-family: 'Pokemon';
    src: url('./assets/font/Pokemon Solid.ttf');
}
html{
    font-family: 'Roboto', sans-serif;
    background-color: #ea883d;
}

a, a:visited, a:active{
    color: unset;
    text-decoration: none;
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}